body {
    display: block;
    background-color: mediumseagreen;
    text-align: center;
}

#deck_container {
    display: flex;
    justify-content: center;
}

#deck {
    position: static;
}

#deck ul {
    height: 152px;
    width: 100px;
    list-style-type: none;
    padding: 0;
    position: relative;
}

#deck ul li {
    position: absolute;
}

#deck ul li:nth-child(1)  { left: 0;    bottom: 0; }
#deck ul li:nth-child(2)  { left: 1px;  bottom: 2px; }
#deck ul li:nth-child(3)  { left: 2px;  bottom: 4px; }
#deck ul li:nth-child(4)  { left: 3px;  bottom: 6px; }
#deck ul li:nth-child(5)  { left: 4px;  bottom: 8px; }

#cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 3px solid black;
    background-color: seagreen;
    width: 70%;
    margin: auto;
    height: 308px;
    overflow-y: scroll;
}

#cards img {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 96px;
    height: 144px;
}